.sectionWrapper{
    padding: 20px;
    margin-top: 50px;
  
}

.SectionLeft {
   
}

.SectionLeft > button {
    display: block;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    background-image: linear-gradient(to right, #d3d3d3,  rgb(137, 206, 137));
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.SectionLeft > p {
    font-size: 20px;
    color: darkgray;
}

.SectionRight {
    
}