.sectionWrapper{
    padding: 20px;
    margin-top: 50px;
  
}


.SectionLeft {
width: 50%;
margin: auto;
}

.SectionLeft > h1 {
      background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.SectionLeft > button {
    display: block;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    background-image: linear-gradient(to right, #d3d3d3,  rgb(137, 206, 137));
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.SectionLeft > p {
    font-size: 20px;
    color: darkgray;
}

.SectionRight {
    width: 50%;
}

.sectionLeftRightWrapper{
    display: flex;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .sectionLeftRightWrapper{
        
    }

    .SectionRight {
        display: none;
    }
    
    .SectionLeft{
        width: 100%;
    }
}

/*Desktop views */

@media (min-width:1025px){
    .SectionLeft > h1 {
        font-size: 55px;
    }

    .SectionLeft > p {
        font-size: 25px;
        padding: 20px;
    }

    .SectionLeft > button {
        width:75%;
    }

    .SectionLeft > button:hover {
        background-image: linear-gradient(to right, #0f2632,  rgb(137, 206, 137));
        cursor: pointer;
    }
}
 