.projectsWrapper {
    padding: 20px;
    margin-top: 50px;
    
}

.projectsWrapper > h1 {
    background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.projectCards {
    position: relative;
    margin: auto;
    margin-top: 20px;
}

.underline {
    width: 100px;
    height: 5px;
    background-image: linear-gradient(to right, #d3d3d3,  rgb(137, 206, 137));
}


@media (min-width:1025px){
  .projectCards {
     column-count: 2;
     column-gap: 10px;
      
  }
     }
      