.headerWrapper {
    width: 100%;

}
.name {
    font-size: 30px;
    font-weight: bold;
    
}

.headerLinksWrapper{
    display: flex;
}


.headerLinksWrapper > span {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.headerLinks  {
    display: flex;
    margin: auto;
    padding-left: 70px;
    padding-top: 10px;
}

.headerLinks > span {
    margin: 10px;
}

.portfolioLinks {
   text-align: center;
   margin-top: 40px;
}

.portfolioLinks > a {
    padding-right: 20px;
    font-size: large;
    font-weight: bold;
}

.portfolioLinks > a:hover {
    padding-right: 20px;
    font-size: large;
    font-weight: bold;
    background-image: linear-gradient(to right, #c4bebe,  rgb(137, 206, 137));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}