.accomplishmentsWrapper {
  display: flex;
  flex-wrap: wrap;
  order: 1;
    padding: 20px;
    
    justify-content: center;
    
}


.accomplishmentsWrapper > h1 {
  background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}
.accomplishmentsBlock {
    width: 170px;
    height: 130px;
    margin: 10px;
    box-shadow: rgba(194, 180, 180, 0.24) 0px 3px 8px;
    border-radius: 10px;
    text-align: center;
}