.technologiesWrapper{
    padding: 20px;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.technologiesWrapper > h1 {
    background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.technologiesText > p {
    font-size: 20px;
    color: darkgray;
}


.technologiesStack > ul {
    list-style: none;
    
}

.technologiesStack > ul > li > p {
    font-size: 15px;
    color: darkgray;
}

.technologiesStack > ul > li > span {
    display: inline;
}

.underline {
    width: 100px;
    height: 5px;
    background-image: linear-gradient(to right, #d3d3d3,  rgb(137, 206, 137));
}


/*Desktop views */

@media (min-width:1025px){
 .technologiesWrapper > h1 {
     font-size: 45px;

 }
 .technologiesText > p {
     font-size: 25px;
     padding: 20px;
 }

 .technologiesStack > ul{
     display: flex;
 }

 .technologiesStack > ul > li > h3 {
     font-size: 27px;
 }

 .technologiesStack > ul > li > p {
    font-size: 19px;
    padding: 10px;
}
  }
   