.technologiesWrapper{
    padding: 20px;
    margin-top: 50px;
}


.technologiesText > p {
    font-size: 20px;
    color: darkgray;
}


.technologiesStack > ul {
    list-style: none;
    
}

.technologiesStack > ul > li > p {
    font-size: 15px;
    color: darkgray;
}