.headerWrapper {
    width: 100%;
   font-family: monospace;
}


.headerLinksWrapper{
    display: flex;
}

.headerLinksWrapper > h1{
    padding-left: 20px;
    font-size: 35px;
}


.headerLinks  {
    display: flex;
 margin: auto;

}

.headerLinks > span {
    margin: 10px;
}


.headerLinks > span:hover {
    cursor: pointer;
}

.headerLinks > span > a > button:hover {
    cursor: pointer;
}
.portfolioLinks {
   text-align: center;
   margin-top: 40px;
}

.portfolioLinks > a {
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

.portfolioLinks > a:hover {
    padding-right: 20px;
    font-size: large;
    font-weight: bold;
    background-image: linear-gradient(to right, #c4bebe,  rgb(137, 206, 137));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}