.timelineWrapper {
    margin-top: 30px;
  
}

.carouselContainer {
  padding: 0rem;
  list-style:none;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;

  
}

.carouselItem{
    background: #0F2632;
    border-radius: 3px;
  width: 150px;
  flex: 0 0 auto; 
    margin: 3px;
    padding: 5px;
}

.carouselItem > h5 {
    font-size: 13px;
    line-height: 32px;
    letter-spacing: 0.02em;
}
.carouselButtons {
    width: 288px;
    display: none;
   
}

.carouselButton {
  box-sizing: border-box;
  background: none;
  padding: 4px;
  border: none;
  cursor: pointer;
  
}

/*Desktop views */

@media (min-width:1025px){
.carouselContainer {
  display: flex;
  justify-content: center;
}
.carouselItem {
  box-shadow: rgba(194, 180, 180, 0.24) 0px 3px 8px;
  margin: 20px;
  height: auto;
}

.carouselItem > p{
  font-size: 25px;
}
}
 